* {
font-family: Arial, Helvetica, sans-serif;
}

.h-10px {
    height: 10px;
}

.h-13px {
    height: 13px;
}

.h-20px {
    height: 20px;
}

.h-40px {
    height: 40px;
}

.h-100px {
    height: 100px;
}

.h-200px {
    height: 200px;
}

.h-675px {
    height: 675px;
}

.bg-1 {
    background-color: #cd3d0f;
}

.fs-7 {
    font-size: 0.75rem;
}

#hero {
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#IT2 {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rounded-thumbnail {
    border-radius: 15px;
}