* {
font-family: Arial, Helvetica, sans-serif;
}

.h-10px {
    height: 10px;
}

.h-13px {
    height: 13px;
}

.h-20px {
    height: 20px;
}

.h-40px {
    height: 40px;
}

.h-675px {
    height: 675px;
}

.bg-1 {
    background-color: #cd3d0f;
}

.w-100 {
    width: 100%;
}

#hero {
    background-image: url(./img/jumbo-bg.png);
    height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rounded-thumbnail {
    border-radius: 15px;
}